// COLORS

$color-background: #383E4C;
$color-background-dark: #262C37;

$color-secondary: #A98AB0;
$color-secondary-light: rgb(208, 167, 218);


$color-primary: #34495d;
$color-primary-light: #46637e;

// $color-secondary: #20a286;
// $color-secondary-light: #6ec8b3;

$color-tertiary: #D8B862;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #fffbfb;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
// $font-display: 'Josefin Sans', sans-serif;

// FONT
$default-font-size: 1.6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;