@import "./../../../../assets/scss/abstracts/variables";


.container {

  display: grid;
  grid-template-rows: 10rem repeat(3, max-content);
  grid-template-columns: 5rem 1fr 5rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-content: center;
  background-color: #383E4C;

  &__navbar {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }


  &__form {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    padding: 5rem;
    height: auto;
    width: 80%;
    background-color: #262C37;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    grid-row-gap: 2rem;
    justify-items: center;
  }

  &__commentForm {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    padding: 5rem;
    width: 80%;
    background-color: #262C37;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    grid-row-gap: 4rem;
    // justify-items: center;
  }

  &__love {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    font-size: 1.5rem;
    color: white;

    i {
      color: red;
      font-size: x-large;
    }
  }

  &__table {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 70%;
  }

}

.formComment {

  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-template-rows: 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  align-items: end;

  &__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__group {

    &--commentreporter {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    &--commentdescription {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    &--commentbutton {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }
  }
}

.commentsTable {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}



.form {

  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, max-content);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;

  &__title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__group {

    &--title {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
    }

    &--priority {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &--reporter {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    &--status {
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }

    &--description {
      grid-row: 3 / 4;
      grid-column: 1 / -1;
    }

    &--button {
      grid-row: 4 / 5;
      grid-column: 1 / -1;
      justify-self: center;
    }

  }
}


.table {

  &__row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
  }

}
