.error {
  font-size: 1.2rem;
  color: $color-tertiary;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: .2rem;

  &__icon {
    fill: $color-tertiary;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .5rem;
  }
}