.table {
  height: 100%;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);

  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;

  &__comments {
    border-radius: 0;
    // background-color: $color-secondary;
    background-color: transparent;
    box-shadow: none;
  }

  &__rownotheader {
    opacity: 0.7;

    &:hover {
      background-color: #383E4C;
    }
  }

  &__row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    text-align: center;
    color: white;
    background-color: #262C37;
    z-index: 1;

    &:not(:last-child) {
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }
  }

  &__title {
    color: #A98AB0;
    letter-spacing: .1rem;
    font-size: 1.85rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
  }

  &__cell {
    padding: 2rem;
    font-size: 1.5rem;
    color: #F1F1F0;
  }
}

.commentstable {
  height: 100%;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);

  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;

  &__scrollable {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
  }

  &__comments {
    border-radius: 0;
    // background-color: $color-secondary;
    background-color: transparent;
    box-shadow: none;
  }

  &__rownotheader {
    opacity: 0.7;

    &:hover {
      background-color: #383E4C;
    }
  }

  &__row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    color: white;
    background-color: #262C37;
    z-index: 1;

    &:not(:last-child) {
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }
  }

  &__title {
    color: #A98AB0;
    letter-spacing: .1rem;
    font-size: 1.85rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
  }

  &__cell {
    padding: 2rem;
    font-size: 1.5rem;
    color: #F1F1F0;
  }
}
